.page_container {
    padding-top: 50px;
    height: calc(100vh - 50px);
}

.feed_content {
    padding: 20px;
}

.private_container{
    height: 300px;
    /* width: 97%; */
    display: flex;
    background-color: rgb(210, 209, 209);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* z-index: 100000 ; */
    /* position: absolute; */
    margin-bottom: 5px;
    border-radius: 5px;
}

.private_container:hover{
    background-color: rgb(195, 190, 190);
}

