.profil{
    width: 100%;
    overflow: hidden;
}

.profil_header_background{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.profil_header_photo{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 20px;
}

.profil_infos{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.profil_header_name{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.profil_header_button{
    width: 60px;
    height: 30px;
    color: white;
    background-color: #363999;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}

.profil_header_stats{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}