.message_container{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: hidden;
    padding: 10px;
}

.message_top{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(212, 208, 208);
    border-top: 1px solid rgb(212, 208, 208);
}

.message_top_img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}

.conversation_container{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: calc(100% - 220px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 10px;
    
}

.conversation_header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.conversation_header_right{
        display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            padding: 10px;
            flex-direction: row-reverse;
}

.conversation_message_container {
    display: flex;
    gap: 10px;
    padding: 0 60px;
    width: 100%;
    flex-direction: row;
}

.conversation_message_container_right{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 60px;
    width: 100%;
    flex-direction: row-reverse;
}

.conversation_last_message {
    background-color: gainsboro;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    flex-direction: row-reverse;
}

.conversation_last_message_right{
    background-color: rgb(54, 129, 170);
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
    flex-direction: row-reverse;
    color: white
}

.message_box_container{
    height: 60px;
    display: flex;
    align-items: center;
    width: 100%;
    border-top: 1px solid rgb(212, 208, 208);
    border-bottom: 1px solid rgb(212, 208, 208);
}

.message_text{
    height: 100%;
    border: none;
    width: 93%;
    padding: 10px;
}

.message_text:focus{
    outline: none;
}

.message_send_button{
    width: 7%;
    height: 100%;
    border: none;
    background-color: rgb(54, 129, 170);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}


/* en dessous en 1000px .message container change */

@media screen and (max-width: 800px) {
    .message_container{
        width: 100%;
    }
}